body {
  background-color: lightgray;
  font-family: sans-serif;
}

.slider {
  width: 1000px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#qty-slider {
  width: 200px;
}

#header {
  background-color: rgb(153, 204, 255);
  align-items: center;
  height: 50px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}

#header * {
  /* background-color: rgb(153, 204, 255); */
}

.sort-type:hover {
  cursor: pointer;
  color: white;
}

.sort-type.selected {
  padding: 5px;
  color: white;
  background-color: black;
  border-radius: 3px;
}

#start-button:hover {
  cursor: pointer;
  color: white;
}

#start-button.selected {
  padding: 5px;
  color: black;
  background-color: green;
  border-radius: 3px;
}

#pause-button.selected {
  padding: 5px;
  color: black;
  background-color: yellow;
  border-radius: 3px;
}

#step-backward-button:hover,
#step-forward-button:hover {
  cursor: pointer;
  color: white;
}

.vl {
  border-left: 5px solid black;
  height: 40px;
  border-radius: 5px;
}
