nav {
  background-color: #99ccff;
}

#qty-slider {
  width: 100%;
}

#element-slider {
  margin: 0 5px;
  white-space: nowrap;
}

#qty-slider {
  max-width: 300px;
  margin: 10px 5px;
}

.vl {
  border-left: 5px solid black;
  height: 40px;
  border-radius: 5px;
}

.dropdown {
  margin: 5px 5px;
}

.dropdown-menus {
  display: flex;
}

#step-backward-button,
#step-forward-button,
#start-button {
  white-space: nowrap;
  margin: 5px 5px;
  // prevent double tap to zoom on mobile devices
  touch-action: manipulation;
}

.animation-controls {
  display: flex;
}
